# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation

on:
  workflow_call: {}

name: "Smoke Test"

permissions:
  contents: read

jobs:
  rebar3:
    name: "Rebar3 Task"

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: .github

      - name: Setup Project
        run: |
          cat > rebar.config << EOF
            {deps, [
              {ranch, "2.2.0"},
              {telemetry, "1.3.0"},
              {ssl_verify_fun, "1.1.7"},
              {unicode_util_compat, "0.7.1"},
              {idna, "6.1.1"}
            ]}.
            {project_plugins, [
              {rebar3_sbom, {git, "$REPO", {ref, "$SHA"}}}
            ]}.
          EOF

          mkdir src

          cat > src/mylib.app.src << EOF
            {application, mylib, [
              {description, "An OTP library"},
              {vsn, "0.1.0"},
              {registered, []},
              {applications, [
                kernel,
                stdlib
              ]},
              {env, []},
              {modules, []},
              {licenses, ["Apache-2.0"]},
              {links, []}
            ]}.
          EOF
        env:
          REPO: "${{ github.server_url }}/${{ github.event.pull_request.head.repo.full_name || github.repository }}.git"
          SHA: ${{ github.event.pull_request.head.sha || github.sha }}

      - uses: ./.github/actions/setup-runtime-env

      - name: "Test All Combinations"
        uses: ./.github/actions/validate-cyclonedx-bom
        with:
          command: "rebar3 sbom"
          test-name: "Rebar3"

  # TODO: Re-Enable once available
  # escript:
  #   name: "EScript"

  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Harden Runner
  #       uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
  #       with:
  #         egress-policy: audit

  #     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
  #       with:
  #         submodules: true

  #     - uses: ./.github/actions/setup-runtime-env

  #     - name: "Download EScript"
  #       uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v5.0.0
  #       with:
  #         name: escript
  #         path: ./escript_artifacts

  #     - name: "Make EScript Executable"
  #       run: |
  #         chmod +x ./escript_artifacts/rebar3_sbom

  #     - name: "Test All Combinations"
  #       uses: ./.github/actions/validate-cyclonedx-bom
  #       with:
  #         command: "./escript_artifacts/rebar3_sbom cyclonedx"
  #         command-args: "."
  #         test-name: "EScript"
